.container {
    display: flex;
    flex-direction: row;
}

.form {
    width: 30vw;
    height: 100vh;
    border: 1px solid black;
}

.chart {
    width: 70vw;
    height: 100vh;
    border: 1px solid black;
}

