<mat-toolbar class="toolbar-title">
    <h1>Add friend details</h1>
</mat-toolbar>

<section>
    <div>
        <app-form-compose 
            #addFriend
            [formControlConfigs]="formControlConfig$ | async"
        ></app-form-compose>
    </div>
</section>

<mat-toolbar class="toolbar-actions">
    <span class="spacer"></span>
    <button
        mat-button color="primary"
        (click)="addFriend.formGroup.reset()"
    >Reset</button>
    <button 
        (click)="addPerson(addFriend.formGroup)"
        mat-flat-button color="primary"
    >Add person</button>
</mat-toolbar>
